@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}
.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.text-cyellow {
  color: #ffcb1f;
  font-weight: 700;
  font-size: 50px;  
}

.text-content {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.w-100{
  width: 100%;
}
.max-w14{
  max-width: 14rem;
}