.modal-common {
    .custom-btn-submit {
        background-color: red !important;
        // background-image: url(../../../public/assets/images/v2/popup_login.png);
    }
    .custom-modal-content {
        background-image: url(../../../public/assets/images/v2/popup_login.png);
        background-size: cover;
    }
    .modal-content {
        background-color: red !important;
    }
    .modal-body {
        background-color: #f0f0f0;
    }
    .close {
        color: red;
    }
}

.custom-btn-submit {
    // background-color: red !important;
    background: transparent url(../../../public/assets/images/v2/btn_yellow.png) center/1em auto no-repeat;    
}
